/* Login Section */
body {
    height: 100vh;
}
.login-section {
  padding: 40px 0 0 0;
  height: 80vh;
  margin-bottom: 100px;
}

.login-container {
width: 90%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.login-image-wrapper {
  border-radius: 8px;
  height: 100%;
  width: 60%;
}

.login-image-wrapper img {
width: 100%;
height: 100%;
object-fit: fill;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
background-color: transparent;
}

.login-card {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.login-card h2 {
font-family: var(--font-inter);
font-weight: var(--font-medium);
font-size: 36px;
margin: 0 0 8px;
}

.login-card p {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: var(--font-normal);
  margin: 0 0 16px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-form  input {
    font-family: var(--font-poppins);
    border: none;
    border-bottom: var(--gray-600) solid 1px;
    padding: 12px 14px;
    outline: none;
    background-color: transparent;
}

.login-form  input::placeholder {
    font-family: var(--font-poppins);
    color:var(--gray-500) ;
    font-weight: var(--font-normal);
    font-size: 16px;
}

.login-button-wrapper{
    margin-top:25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login-button-wrapper a {
    color: var(--primary);
    cursor: pointer;
}





/* Responsive */
@media (max-width: 900px) {
  .login-container {
   flex-direction: column;
  }
  .login-image-wrapper {
    width: 100%;  }
    
  .login-image-wrapper {
    width: 100%;  }
    .login-card {
    width: 100%;   
    .login-section {
        border-color: rebeccapurple;
    }
    .login-section {
        
        height: fit-content;
        padding: 20px ;
        width: 100%;
        background-color: red;

      }
flex-direction: column;
  }
}

